<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.advancepro.com.advancepro">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WarehouseActivity"
            android:label="@string/title_activity_inbound"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".InboundAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OutboundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LookupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllSettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SalesActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>